body {
  width: 1440px;
  height: 1408px;

  background: #ffffff;

  padding: 0px;
}
.app__title {
  width: 151px;
  height: 20px;
  margin: 50px 0px 10px 75px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 0px;
}
.search-box {
  box-sizing: border-box;
  position: absolute;
  width: 600px;
  height: 50px;
  margin: 10px 765px 0px 75px;
  padding: 0px;

  background: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.search-txt {
  width: 336px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #575757;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  margin: 12px 15px;
}
.results {
  width: 80px;
  height: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 100px 15px 0px 75px;

  color: #363636;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.line {
  width: 1290px;
  height: 0px;
  margin: 5px 75px 5px;

  border: 1px solid #eaeaea;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.search {
  width: 20px;
  height: 20px;
  background: #575757;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 15px 0px 15px 20px;
  padding: 0px;
}
